<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tech.bailey.rod">

    <!--
    Not strictly necessary to have this permision to use Google Maps Android API v2
    but useful if user should navigate from map to some other related functionality
    that requires "MyLocation" functionality.
    -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
        The API key for Google Maps-based APIs is defined as a string resource.
        Note that the API key is linked to the encryption key used to sign the APK.
        You need a different API key for each encryption key, including the release key that is used to
        sign the APK for publishing.
        You can define the keys for the debug and release targets in src/debug/ and src/release/.
         -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCO0EVLQRZVqXxFPOFmTU3kv42Jtf1HGZA"/>

        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>