<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tech.bailey.rod">

    <!--
    Not strictly necessary to have this permission to use Google Maps Android API v2
    but useful if user should navigate from map to some other related functionality
    that requires "MyLocation" functionality.
    -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Need this permission to load Destinations JSON data from remote server -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--oandroid:name="tech.bailey.rod.app.TechnicalEvaluationApplication"-->

    <application

        android:name="tech.bailey.rod.app.TechnicalEvaluationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCO0EVLQRZVqXxFPOFmTU3kv42Jtf1HGZA"/>

        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>